body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100dvh;
  background-color: #f1f2f3;
}

/* 在此作答 */

.wrapper{
  outline-style: solid;
  outline-color: #f5f5f5;
  border-radius: 60px;
  border-width: 6px;

  width: 310px;
  height: 135px;
  background-color: #ececec;

  box-shadow: 0px 20px 40px 10px rgba(47, 68, 91, 0.2);

}


.wrapper img{
  border-radius: 70px;

  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  content: url("./grin.webp");
  transform: translate(0);
  transition: transform 1s cubic-bezier(0.2, 0.3, 0, 1.1);
}


.switch-on.wrapper{
  background-color: #24e38c;
}
.switch-on.wrapper img{
  border-radius: 70px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  transform: translate(175px);
  transition: transform 1s cubic-bezier(0.2, 0.3, 0, 1.1);
  content: url("./wronged.webp");
}
